.search-box{
  height:3rem;
  width:30rem;
  position: relative;
  top: 5rem;
  left: 28rem;
  border:1px solid #FFD8E4;
  display: flex;
}
input{
  width: 400%;
  border: 1px solid #FFD8E4;
  
}


button{
  border: 1px solid #FFD8E4;
  background-color: #FFD8E4;
}
.search-container{
  
  position: relative;
  top: 6rem;
  left:2rem;
  width: 95%;
  height: 80vh;
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
  overflow-x: hidden;
  gap: 20px;

}